<div class="'list'">
  <%= link_to image_tag(item.image, class: :card__img ), item_path(item) %>
  <div class="card__body">
    <%= link_to item.title, item_path(item), class: :card__title %>
    <p class="card__summary">
      <%= item.catch_copy %>
    </p>
    <% if current_user == item.user_id%>
      <%# プロトタイプの投稿者とログインしているユーザーが同じであれば以下を表示する %>
        <div class="prototype__manage">
          <li>
            <%= link_to "編集", edit_item_path(item), method: :get, class: "item-red-btn" %>
          </li>
          <li>
            <%= link_to "削除", item_path(item),method: :delete , class: "item-destroy" %>
          </li>
        </div>
      <%# // プロトタイプの投稿者とログインしているユーザーが同じであれば上記を表示する %>
    <%end%>
    <%= link_to "by #{item.user.name}", user_path(item.user), class: :card__user %>
  </div>
</div>